/* =====***** color variable css starts *****===== */
$heading_color: red;
/* =====***** color variable css ends *****===== */

/* =====***** font variable css starts *****===== */
$opensans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;
/* =====***** font variable css ends *****===== */
