/* =====***** common css starts *****===== */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none;
}

img {
  vertical-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@import "_variable.scss";

/* =====***** preloader css starts *****===== */
#preloader-bg {
  width: 100%;
  height: 110vh;
  background: white;
  display: flex;
  align-items: center;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
  }
}
/* =====***** preloader css ends *****===== */

/* =====***** common css ends *****===== */

.navbar .navbar-nav .nav-item .nav-link a {
  color: $heading_color !important;
}

/* =====***** preloader css starts *****===== */

/* =====***** preloader css ends *****===== */

/* =====***** navbar css starts *****===== */
/* =====***** navbar css ends *****===== */
